.red {
    color: red;
}

.green {
    color: #00ff15;
}

.blue {
    color: blue;
}

.violet {
    color: blueviolet;
}

.teachers-container {
    width: 18em;
    height: 4em;
    background-color: grey;
}

.pm-container {
    width: 18em;
    height: 4em;
    background-color: green;
}